@import url('https://fonts.googleapis.com/css2?family=K2D:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --Red-5: #fde5e1;
  --Red-10: #f29587;
  --Red-20: #ed7c6b;
  --Red-30: #e9624e;
  --Red-40: #e44932;
  --Red-50: #e03016;
  --Red-60: #c22a13;
  --Red-70: #a42310;
  --Red-80: #871d0d;
  --Red-90: #69160a;
  --Red-100: #5a1309;
  --Yellow-5: #fff0bd;
  --Neutral-5: #ffffff;
  --Yellow-10: #f0e2b0;
  --Yellow-20: #e8d89f;
  --Yellow-30: #d8c37c;
  --Yellow-40: #c8af59;
  --Yellow-50: #b89a36;
  --Yellow-60: #866b0f;
  --Yellow-70: #65500b;
  --Yellow-80: #322806;
  --Yellow-90: #221b04;
  --Neutral-10: #f2f2f2;
  --Neutral-20: #d7d7d7;
  --Neutral-30: #c9c9c9;
  --Neutral-40: #aeaeae;
  --Neutral-50: #939393;
  --Neutral-60: #787878;
  --Neutral-70: #606060;
  --Neutral-80: #484848;
  --Neutral-90: #303030;
  --Yellow-100: #110d02;
  --Neutral-100: #242424;
  --Neutral-Alpha-5: rgba(0, 0, 0, 0.0500);
  --Neutral-Alpha-10: rgba(0, 0, 0, 0.1000);
  --Neutral-Alpha-20: rgba(0, 0, 0, 0.2000);
  --Neutral-Alpha-30: rgba(0, 0, 0, 0.3000);
  --Neutral-Alpha-40: rgba(0, 0, 0, 0.4000);
  --Neutral-Alpha-50: rgba(0, 0, 0, 0.5000);
  --Neutral-Alpha-60: rgba(0, 0, 0, 0.6000);
  --Neutral-Alpha-70: rgba(0, 0, 0, 0.7000);
  --Neutral-Alpha-80: rgba(0, 0, 0, 0.8000);
  --Neutral-Alpha-90: rgba(0, 0, 0, 0.9000);
  --Neutral-Alpha-95: rgba(0, 0, 0, 0.9500);
  --Spacing-L: 14px;
  --Spacing-M: 12px;
  --Spacing-S: 10px;
  --Spacing-XL: 16px;
  --Spacing-XS: 8px;
  --Spacing-XXL: 20px;
  --Spacing-XXS: 6px;
  --Spacing-XXXL: 24px;
  --Spacing-XXXS: 4px;
  --Spacing-XXXXL: 32px;
  --Spacing-XXXXS: 2px;
  --Spacing-XXXXXL: 40px;
  --Border-Radius-L: 16px;
  --Border-Radius-S: 6px;
  --Border-Radius-Infinity: 9999px;
  --Font-Size-L: 24px;
  --Font-Size-M: 20px;
  --Font-Size-S: 16px;
  --Font-Size-XL: 32px;
  --Font-Size-XS: 14px;
  --Font-Size-XXL: 40px;
  --Font-Size-XXS: 12px;
  --Font-Size-XXXL: 48px;
  --Font-Size-XXXS: 10px;
  --Font-Weight-Bold: Bold;
  --Font-Weight-Medium: Medium;
  --Font-Family-English: K2D;
  --Font-Weight-Regular: Regular;
  --Icon-Alert: var(--Red-50);
  --Text-Alert: var(--Red-50);
  --Border-Alert: var(--Red-50);
  --Icon-Primary: var(--Neutral-80);
  --Text-Primary: var(--Neutral-80);
  --Icon-Disabled: var(--Neutral-50);
  --Icon-Emphasis: var(--Yellow-50);
  --Icon-Tertiary: var(--Neutral-40);
  --Surface-Alert: var(--Red-5);
  --Text-Disabled: var(--Neutral-50);
  --Text-Emphasis: var(--Yellow-50);
  --Text-Tertiary: var(--Neutral-40);
  --Border-Primary: var(--Neutral-50);
  --Icon-OnPrimary: var(--Neutral-5);
  --Icon-Secondary: var(--Neutral-60);
  --Text-OnPrimary: var(--Neutral-5);
  --Text-Secondary: var(--Neutral-60);
  --Border-Emphasis: var(--Yellow-50);
  --Border-Tertiary: var(--Neutral-20);
  --Icon-OnTertiary: var(--Neutral-50);
  --Surface-Primary: var(--Yellow-50);
  --Text-OnTertiary: var(--Neutral-50);
  --Border-Seconfary: var(--Yellow-40);
  --Icon-OnSecondary: var(--Yellow-50);
  --Icon-PlaceHolder: var(--Neutral-30);
  --Surface-Disabled: var(--Neutral-20);
  --Surface-Tertiary: var(--Neutral-5);
  --Text-OnSecondary: var(--Yellow-50);
  --Text-PlaceHolder: var(--Neutral-30);
  --BackGround-Screen: var(--Neutral-10);
  --Icon-PrimaryHover: var(--Neutral-90);
  --Surface-Secondary: var(--Yellow-20);
  --Text-PrimaryHover: var(--Neutral-90);
  --BackGround-Overlay: var(--Neutral-Alpha-30);
  --Icon-TertiaryHover: var(--Neutral-50);
  --Text-TertiaryHover: var(--Neutral-50);
  --BackGround-Elavated: var(--Yellow-20);
  --Icon-SecondaryHover: var(--Neutral-70);
  --Text-SecondaryHover: var(--Neutral-70);
  --Surface-PrimaryHover: var(--Yellow-60);
  --Surface-TertiaryHover: var(--Neutral-10);
  --Surface-SecondaryHover: var(--Yellow-30);
}
